.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  height: 10%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preview-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.preview-button button {
  margin-bottom: 20px;
}
